#header {
    text-align: left;
    padding: 12px;
    font-weight: bold;
}

#nav {
    text-align: left;
}

.main1 {
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.body1 {
    margin: 0px;
}

.div1 {

}

.makeit {
   font-size: 20px;
   font-weight: bold;
   padding-top: 20px;
   padding-bottom: 15px;
}

#stars {
    font-size: 19px;

}

.html1 {
    background-color: beige;
    padding-bottom: 30px;
}

.paragraph1 {
    padding-bottom: 30px;
}

.paragraph2 {
    padding-bottom: 20px;
}

#impractical {
    font-size: 19px;
}

#impracticaltitle {
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: bold;
}

.borderline {
    border-inline: 1px solid lightblue;
}

.impracticalspacing {
    padding-top: 30px;
}

.borderline {
    border: 1px solid lightblue;
}

.footer {
    text-align: center;
}
